absl-py==2.1.0
addict==2.4.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.11.12
aiosignal==1.3.2
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.8.0
async-timeout==5.0.1
attrs==25.1.0
audioread==3.0.1
av==14.1.0
blinker==1.9.0
Brotli @ file:///C:/b/abs_c415aux9ra/croot/brotli-split_1736182803933/work
cachetools==5.5.1
certifi @ file:///C:/b/abs_8a944p1_gn/croot/certifi_1738623753421/work/certifi
cffi==1.17.1
chardet==5.2.0
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click==8.1.8
cn2an==0.5.23
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.0
crcmod==1.7
cryptography==44.0.0
ctranslate2==4.5.0
cycler==0.12.1
datasets==3.2.0
decorator==5.1.1
dill==0.3.8
Distance==0.1.3
editdistance==0.8.1
einops==0.8.0
exceptiongroup==1.2.2
fastapi==0.112.1
faster-whisper==1.1.1
ffmpeg-python==0.2.0
ffmpy==0.5.0
filelock @ file:///C:/b/abs_f2gie28u58/croot/filelock_1700591233643/work
flatbuffers==25.1.24
fonttools==4.55.8
frozenlist==1.5.0
fsspec==2024.9.0
funasr==1.0.27
future==1.0.0
g2p-en==2.1.0
g2pk2==0.0.3
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
gmpy2 @ file:///C:/b/abs_d8ki0o0h97/croot/gmpy2_1738085498525/work
gradio==4.24.0
gradio_client==0.14.0
grpcio==1.70.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.28.1
humanfriendly==10.0
hydra-core==1.3.2
idna==3.10
importlib_metadata==8.6.1
importlib_resources==6.5.2
inflect==7.5.0
jaconv==0.4.0
jamo==0.4.1
jieba==0.42.1
jieba_fast==0.53
Jinja2 @ file:///C:/b/abs_10zs3i4lof/croot/jinja2_1737760123028/work
jmespath==0.10.0
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kaldiio==2.18.0
kiwisolver==1.4.7
ko-pron==1.3
LangSegment==0.3.5
librosa==0.9.2
lightning-utilities==0.12.0
llvmlite==0.39.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.4
mdurl==0.1.2
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
modelscope==1.10.0
more-itertools==10.6.0
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
multidict==6.1.0
multiprocess==0.70.16
narwhals==1.25.2
networkx @ file:///C:/b/abs_3bxnu56g9d/croot/networkx_1717597507456/work
nltk==3.9.1
numba==0.56.4
numpy==1.23.5
omegaconf==2.3.0
onnxruntime==1.19.2
onnxruntime-gpu==1.19.2
openai-whisper==20240930
OpenCC==1.1.9
orjson==3.10.15
oss2==2.19.1
packaging==24.2
pandas==2.2.3
pillow==10.4.0
platformdirs==4.3.6
pooch==1.8.2
proces==0.1.7
propcache==0.2.1
protobuf==5.29.3
psutil==6.1.1
py3langid==0.2.2
pyarrow==19.0.0
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
pydub==0.25.1
Pygments==2.19.1
pynndescent==0.5.13
pyopenjtalk==0.4.0
pyparsing==3.2.1
pypinyin==0.53.0
pyreadline3==3.5.4
PySocks @ file:///C:/ci/pysocks_1605307512533/work
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytorch-lightning==2.1.2
pytorch-wpe==0.0.1
pytz==2025.1
PyYAML @ file:///C:/b/abs_14xkfs39bx/croot/pyyaml_1728657968772/work
referencing==0.36.2
regex==2024.11.6
requests @ file:///C:/b/abs_c3508vg8ez/croot/requests_1731000584867/work
resampy==0.4.3
rich==13.9.4
rotary-embedding-torch==0.8.6
rpds-py==0.22.3
ruff==0.9.4
safetensors==0.5.2
scikit-learn==1.6.1
scipy==1.13.1
semantic-version==2.10.0
sentencepiece==0.2.0
shellingham==1.5.4
simplejson==3.19.3
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.13.1
starlette==0.38.6
streamlit==1.42.0
sympy==1.13.1
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
threadpoolctl==3.5.0
tiktoken==0.8.0
ToJyutping==3.2.0
tokenizers==0.15.2
toml==0.10.2
tomli==2.2.1
tomlkit==0.12.0
torch==2.1.2
torch-complex==0.4.4
torchaudio==2.1.2
torchmetrics==1.6.1
torchvision==0.16.2
tornado==6.4.2
tqdm==4.67.1
transformers==4.35.2
typeguard==4.4.1
typer==0.15.1
typing_extensions @ file:///C:/b/abs_0ffjxtihug/croot/typing_extensions_1734714875646/work
tzdata==2025.1
umap-learn==0.5.7
urllib3 @ file:///C:/b/abs_7bst06lizn/croot/urllib3_1737133657081/work
uvicorn==0.34.0
watchdog==6.0.0
websockets==11.0.3
Werkzeug==3.1.3
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
wordsegment==1.3.1
xxhash==3.5.0
yapf==0.43.0
yarl==1.18.3
zipp==3.21.0
